* {
    font-family: "Raleway", sans-serif;
   
  }

  /*
    body {
        margin-top: -15px;  
        display: flex;
        justify-content: center;
  }/

  /* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
    #logo-img{
    display: block;
    width: 100%;
    padding-top: 1rem; 
    justify-content: center;
    }
    .background{
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-top: 1rem;   
        background-color: rgb(174, 174, 174);
    }
    .background2{
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-top: 1rem;   
        background-color: rgb(233, 233, 233);
    }
    .background3{
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-top: 1rem;   
        background-color: rgb(66, 66, 66);
    }
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }

    .explorer {
        display: flex;
        border: 3px solid #000000;
        border-radius: 50px 50px 50px 50px;
        -webkit-border-radius: 50px 50px 50px 50px;
        -moz-border-radius: 50px 50px 50px 50px;
        display: flex;
        align-items: center;
        margin-right: 25px;
        margin-bottom: 12px;
        height: 3rem;
        border: 1px solid #d9d9d9;
        width: fit-content;
        border-radius: 25px;
        transition: ease-in-out 0.5s;
        background-color: blueviolet;
        
        }
        .fonctions {
            display: flex;
            border: 3px solid #000000;
            border-radius: 50px 50px 50px 50px;
            -webkit-border-radius: 50px 50px 50px 50px;
            -moz-border-radius: 50px 50px 50px 50px;
            display: flex;
            align-items: center;
            margin-right: 25px;
            margin-bottom: 12px;
            height: 3rem;
            border: 1px solid #d9d9d9;
            width: fit-content;
            border-radius: 25px;
            transition: ease-in-out 0.5s;
            background-color: rgb(224, 224, 224);
            
            }
        #center{
            display: flex;
            justify-content: center;
        }
        img{
            width: 100%;
        }

    
    
}