* {
  font-family: "Raleway", sans-serif;
}

.btn {
  padding: 15px;
  border: none;
  width: 300px;
  background-color: lightgrey;
  color: black;
  border-radius: 15px;
  margin-bottom: 0.1rem;
}
.btn.violet {
  background-color: #9747FF;
}
.btn.white {
  color: white;
}
.btn.left {
  text-align: left;
}
.btn.round {
  border-radius: 30px;
}
.btn.btn-width {
  width: 200px;
}
.btn.no-padding {
  margin-top: 1%;
  padding: 2%;
}

/* .btn-violet {
   border: 1px solid;
   overflow: hidden;
   position: relative;

   span {
     z-index: 20;
   }

   &:after {
     background: #fff;
     content: "";
     height: 155px;
     left: -75px;
     opacity: .2;
     position: absolute;
     top: -50px;
     transform: rotate(35deg);
     transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
     width: 50px;
     z-index: -10;
   }
 }

 .btn-violet:hover {

   &:after {
     left: 120%;
     transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
   }
 }*/
.background {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
  background-color: #EAEAEA;
}
.background.background2 {
  background-color: rgb(233, 233, 233);
}
.background.dark_grey {
  background-color: #353535;
}
.background.red {
  background-color: red;
}
.background.bg-white {
  background-color: white;
}

.nav-logo {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.logo-img {
  display: flex;
  width: 50%;
  padding-top: 1rem;
  justify-content: center;
}
.logo-img.margin-left {
  margin-left: -5em;
}
.logo-img.width {
  width: 100%;
}

.back {
  display: flex;
  width: 5%;
  padding-top: 1rem;
}
.back.margin-left {
  margin-left: 0.1em;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    position: absolute;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border: 10px blue;
  border-radius: 50%;
  border-top: 10px solid blueviolet;
  width: 120px;
  height: 120px;
  animation: rotate 1s linear infinite;
  position: absolute;
}

.loaderout {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  width: 99vw;
  height: 100vh;
}

.img-menu {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

h2 {
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}

h3 {
  text-align: left;
  text-decoration: none;
}

h4 {
  padding-bottom: -1em;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
}

.shadow {
  transition: box-shadow 0.3s;
  width: 300px;
  height: 50px;
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}

.shadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.para {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
  text-decoration: none;
}
.para.center {
  text-align: center;
}
.para.left {
  text-align: left;
}
.para.margin-left {
  margin-left: 0.5em;
}
.para.white {
  color: white;
}

.white {
  color: white;
}

.margin-left {
  margin-left: 0.5em;
}

.restaurants-card a {
  text-decoration: none;
  color: #000;
}

.restaurants-card img {
  width: 100%;
  height: 175px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-block h2 {
  margin: 0;
  padding-top: 10px;
}

.restaurants-block p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

.containter {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 20px;
}
.card.margin-top {
  margin-top: -50px;
}

.floating-menu {
  position: relative;
  margin-top: -10%;
}

.containter-heart {
  display: flex;
  justify-content: space-between;
}

.menu-space {
  display: flex;
  justify-content: space-between;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  background-color: #eaeaea;
}

.location i {
  padding-right: 20px;
}

.restaurants {
  background-color: #f6f6f6;
}

.restaurants-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.restaurants-card {
  background-color: #FFF;
  border-radius: 10px;
  width: 100%;
  box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
  margin-bottom: 2em;
  position: relative;
}

.restaurants-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 20px;
}

.fa-heart {
  font-size: 1.3em;
}

.fa-heart:hover {
  animation: bgcolor 0.5s;
  font-weight: 900;
  background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */