* {
  font-family: "Raleway", sans-serif;
}
  @import "./button/button";
  @import "./background/background";
  @import "./nav/nav";
  @import "./images/menu";

  h2 {
    text-align: center;
  }

  h3 {
    text-align: left;
  }

  .containter {
    text-align: center;
  }

@media (min-width: 320px) {
  

  
  
}
