* {
  font-family: "Raleway", sans-serif;
}

.menu-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.menu-btn .btn {
  display: block;
  width: 100%;
  max-width: 16em;
}

.btn {
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #ba62db 100%);
  box-shadow: 1px 11px 14px 0px rgba(130, 130, 130, 0.38);
  padding: 20px;
  color: #FFF;
  font-family: "Roboto";
  text-decoration: none;
  border-radius: 50px;
  transition: 500ms;
}

.btn:hover {
  background: linear-gradient(180deg, #ff99e2 0%, #dc7bff 100%);
  box-shadow: 1px 11px 14px 0px rgba(109, 109, 109, 0.699);
}

.background {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
  background-color: #EAEAEA;
}
.background.background2 {
  background-color: rgb(233, 233, 233);
}
.background.dark_grey {
  background-color: #353535;
}
.background.red {
  background-color: red;
}
.background.bg-white {
  background-color: white;
}

.nav-logo {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.logo-img {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
}
.logo-img.margin-left {
  margin-left: -5em;
}
.logo-img.width {
  width: 100%;
}

.back {
  display: flex;
  width: 15%;
  padding-top: 0.7rem;
}
.back.margin-left {
  margin-left: 0.1em;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border: 10px blue;
  border-radius: 50%;
  border-top: 10px solid blueviolet;
  width: 120px;
  height: 120px;
  animation: rotate 1s linear 4;
  position: absolute;
}

.loaderout {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  width: 99vw;
  height: 100vh;
}

@media (min-width: 768px) {
  .logo-img.width {
    width: 10%;
  }
}
.img-menu {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

@media (min-width: 768px) {
  .img-menu {
    height: 600px;
  }
}
h2 {
  text-decoration: none;
}

a {
  text-decoration: none;
}

h3 {
  text-align: left;
  text-decoration: none;
}

h4 {
  padding-bottom: -1em;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
}

.shadow {
  transition: box-shadow 0.3s;
  width: 300px;
  height: 50px;
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}

.shadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.para {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
  text-decoration: none;
}
.para.center {
  text-align: center;
}
.para.left {
  text-align: left;
}
.para.margin-left {
  margin-left: 0.5em;
}
.para.white {
  color: white;
}

.white {
  color: white;
}

.margin-left {
  margin-left: 0.5em;
}

.restaurants-card a {
  text-decoration: none;
  color: #000;
}

.restaurants-card img {
  width: 100%;
  height: 175px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-block h2 {
  margin: 0;
  padding-top: 10px;
}

.restaurants-block p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

.containter {
  text-align: center;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 20px;
}
.card.margin-top {
  margin-top: -50px;
}

.floating-menu {
  position: relative;
  margin-top: -10%;
}

.containter-heart {
  display: flex;
  justify-content: space-between;
}

.menu-space {
  display: flex;
  justify-content: space-between;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  background-color: #eaeaea;
}

.location i {
  padding-right: 20px;
}

.restaurants {
  background-color: #f6f6f6;
}

.restaurants-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.restaurants-card {
  background-color: #FFF;
  border-radius: 10px;
  width: 100%;
  box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
  margin-bottom: 2em;
  position: relative;
}

.restaurants-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 20px;
}

.fa-heart {
  font-size: 1.3em;
}

.fa-heart:hover {
  animation: bgcolor 0.5s;
  font-weight: 900;
  background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .restaurants-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants-card {
    width: 100%;
  }
  .inline {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .flex-item {
    flex: 2;
    width: 100%;
  }
}
.menu-container h1 {
  font-family: "Shrikhand", cursive;
}

.menu-container {
  padding: 10px;
  padding-right: 40px;
}

.menu-resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-resto i {
  font-size: 1.6em;
  font-weight: 400;
}

.menu-categorie h2 {
  text-transform: uppercase;
  font-weight: 0;
  font-size: 1.2em;
}

.menu-categorie h2::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #99E2D0;
}

.menu-card {
  animation-fill-mode: both;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 20px 0 10px;
  margin-bottom: 15px;
  z-index: 0;
  width: 100%;
  box-shadow: -1px 6px 10px 2px rgba(166, 166, 166, 0.34);
  position: relative;
  overflow: hidden;
}

.menu-card_validate {
  position: absolute;
  text-align: center;
  right: -100px;
  top: 0;
  width: 100px;
  height: 95px;
  background-color: #99E2D0;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in-out;
}

.menu-card_validate i {
  color: #fff;
  font-size: 1.5em;
}

.menu-card:hover {
  cursor: pointer;
}

.menu-card:hover .menu-card_validate {
  right: 0px;
  transition: 0.7s ease-in-out;
  z-index: 2;
}

.menu-card:hover .menu-card_validate i {
  animation: rotate 0.4s linear;
  animation-delay: 0.1S;
}

.menu-card_content {
  width: 100%;
  transition: 0.1s ease-in-out;
}

.menu-card_content:hover {
  width: calc(100% - 100px);
  transition: 0.7s ease-in-out;
}

.menu-card_title h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  text-overflow: ellipsis;
}

.menu-card_title p {
  margin: 0;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-card_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-card_text p:nth-child(1) {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entree {
  margin-bottom: 2.25em;
  animation: fadein 1s linear;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.plats {
  margin-bottom: 2.25em;
  animation: fadein 1s linear;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.desserts {
  animation: fadein 1s linear;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

.list {
  flex-direction: column;
  margin-bottom: 2em;
}

.list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .list {
    flex-direction: column;
    margin-bottom: 2em;
  }
}
.list_cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  padding: 20px 35px 20px 35px;
  border-radius: 40px;
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
}

.list_cards i {
  padding-right: 30px;
  color: #7e7e7e;
}

.list_cards .number {
  position: absolute;
  left: 0;
  transform: translate(-15px);
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 60%;
}

.list_cards:hover {
  background-color: #f5edff;
}

.list_cards:hover i {
  color: #9356DC;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}/*# sourceMappingURL=style.css.map */