@keyframes bgcolor {
  0% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0) 0%, rgba(187, 98, 219, 0) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.452) 0%, rgba(187, 98, 219, 0.452) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.582) 0%, rgba(186, 98, 219, 0.582) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.747) 0%, rgba(187, 98, 219, 0.74) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.918) 0%, rgba(187, 98, 219, 0.836) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
    font-weight: 900;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.containter {
    text-align: center;
    margin: 0 auto;
    
  }
  .card {
    background-color: white;
    border-radius: 20px;
    &.margin-top{
      margin-top: -50px;
     }
  }
  .floating-menu{
    position: relative;
    margin-top: -10%;
  }
  
  .containter-heart{
    display: flex;
    justify-content: space-between;
  }

  .menu-space{
    display: flex;
    justify-content: space-between;
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    background-color: #eaeaea;
  }
  .location i {
    padding-right: 20px;
  }
  .restaurants {
    background-color: #f6f6f6;
  }

  .restaurants-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
  }

  .restaurants-card {
    background-color: #FFF;
    border-radius: 10px;
    width: 100%;
    box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
    margin-bottom: 2em;
    position: relative;
  }

  .restaurants-card.new::after {
    content: "Nouveau";
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: "Roboto";
    font-weight: 700;
    background-color: #99E2D0;
    color: #008766;
    padding: 10px;
    border-radius: 2px;
  }

  .restaurants-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 20px;
  }

  .fa-heart {
    font-size: 1.3em;
  }
  .fa-heart:hover {
    animation: bgcolor 0.5s;
    font-weight: 900;
    background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .card{
    transform: translate(0px, -60px);
 }
  
  
  @media (min-width: 768px) {
    .restaurants-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .restaurants-card {
      width: 45%;
      justify-content: space-evenly;
    }

    #footer-title{
      display: flex;
      flex-direction: row-reverse;
      
    }
    .inline{
      display: flex;
    }
    .content-menu {
      max-width: 1400px;
      margin: 0 auto;
  }
  .card{
     transform: translate(0px, -60px);
  }
 
    
  }



