.containter {
    text-align: center;
  }
  .card {
    background-color: white;
    border-radius: 20px;
    &.margin-top{
      margin-top: -50px;
     }
  }
  .floating-menu{
    position: relative;
    margin-top: -10%;
  }
