.img-menu{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
@media (min-width: 768px) {
    .img-menu{
        height: 600px;
   }
  }
