h2 {
    text-align: center;
    text-decoration: none;
  }

  a{
    text-decoration: none;
  }

  h3 {
    text-align: left;
    text-decoration: none;
  }

  .para{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 1rem;
    text-decoration: none;   
    &.center{  
        text-align: center;
    }
    &.left{    
        text-align: left;
    }
    &.margin-left{    
      margin-left: 0.5em;
  }
  &.white{    
   color: white;
}

}
.white{
  color: white;
}
.margin-left{    
  margin-left: 0.5em;
}