.background{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 1rem;   
    background-color: #EAEAEA;
    &.background2{  
        background-color: rgb(233, 233, 233);
    }
    &.dark_grey{    
        background-color: #353535;
    }
    &.red{    
        background-color: red;
    }
    &.bg-white{
        background-color: white;
    }
}
