.nav-logo {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.logo-img {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  justify-content: center;
  &.margin-left {
    margin-left: -5em;
  }
  &.width {
    width: 50%;
  }
}

.back {
  display: flex;
  width: 5%;
  padding-top: 1rem;
  &.margin-left {
    margin-left: 0.1em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    position: absolute;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 10px blue;
  border-radius: 50%;
  border-top: 10px solid blueviolet;
  width: 120px;
  height: 120px; 
  animation: rotate 1s linear infinite;
  position: absolute;
}

.loaderout {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  width: 99vw;
  height: 100vh;
}

@media (min-width: 768px) {
  .logo-img.width {
    width: 25%;
  }
}


    