.nav-logo{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.logo-img {
    display: flex;
      width: 50%;
      padding-top: 1rem;
      justify-content: center;
      &.margin-left{    
        margin-left: -5em;
     }
     &.width{    
      width: 100%;
   }
    }

    .back {
      display: flex;
        width: 5%;
        padding-top: 1rem;
        &.margin-left{    
         margin-left: 0.1em;
      }
      }    