.btn {
    padding: 15px;
    border: none;
    width: 300px;
    background-color: lightgrey;
    color: black;
    border-radius: 15px;
    margin-bottom: 0.1rem;
  
    &.violet {
      background-color: #9747FF;
    }
    &.white { 
      color: white;
    }&.left{
      text-align: left;
    }
    &.round{
      border-radius: 30px;
    }
    &.btn-width{
      width:200px;
    }
    &.no-padding{
      margin-top: 1%;
      padding: 2%;
    }
     
    
   
  }
 /* .btn-violet {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    
    span {
      z-index: 20;
    }
    
    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }
  }
  
  .btn-violet:hover {
    
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }*/
  

  @media (max-width: 1024px) {

  }
  