.menu-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}
.menu-btn .btn {
  display: block;
  width: 100%;
  max-width: 16em;
}

.btn {
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #ba62db 100%);
  box-shadow: 1px 11px 14px 0px rgba(130, 130, 130, 0.38);
  padding: 20px;
  color: #FFF;
  font-family: "Roboto";
  text-decoration: none;
  border-radius: 50px;
  transition: 500ms;
}
.btn:hover {
  background: linear-gradient(180deg, #ff99e2 0%, #dc7bff 100%);
  box-shadow: 1px 11px 14px 0px rgba(109, 109, 109, 0.699);
}

  @media (max-width: 1024px) {

  }
  